



@media only screen and (max-width : 1600px) {
  .ab {
    padding: 80px 0;  
  }

  .ab__col p {
    font-size: 26px;
    margin-bottom: 30px;    
  } 

}//1600



@media only screen and (max-width : 1366px) {
  .ab__col p {
    font-size: 22px;
    margin-bottom: 18px;
  }
  .ab__h {
    margin-bottom: 43px;
  }
  .ab__w {
    gap: 40px;
  }

}//1366

@media only screen and (max-width : 1199px) {
  .ab {
    padding: 70px 0;
  }
  .footer__logo {
    margin-right: 76px;
    width: 202px;
  }
  .footer__arr-up {
   margin-right: 120px;
 }
}//1199


@media only screen and (max-width : 991px) {
  .ab__col p {
    font-size: 18px;
    margin-bottom: 14px;
  }
  .ab__h {
    margin-bottom: 26px;
    font-size: 46px;
  }
  .ab__w {
    gap: 32px;
  }
  
  .ab__btn-w {
    margin-top: 37px;
  }
  .footer__arr-up {
   margin-right: 50px;
 }
 .footer__logo {
  margin-right: 65px;
  width: 165px;
}
.footer__ul li a {
  font-size: 15px;
}


}//991


@media only screen and (max-width : 767px) {
  .ab__col p {    
    margin-bottom: 12px;
  }
  .ab__w {
    gap: 30px;
  }
  .ab__h {
    margin-bottom: 18px;
    font-size: 34px;
  }
  .ab__btn-w {
    margin-top: 30px;
  }
  .footer__r,
  .footer__l,
  .footer__w {
    flex-direction: column;    
    align-items: center;
  } 
  .footer__logo,
  .footer__arr-up {
    margin-right: unset;
    margin-bottom: 40px;
  }
  .footer__ul li a {
    display: block;
    text-align: center;
  }
  .footer__l {
    margin-bottom: 20px;
  }
  .footer__logo {
    width: 220px;
  }
  
}//767





@media only screen and (max-width : 640px) {
  .ab__col p {
    margin-bottom: 20px;
  }
  .ab__w {
    gap: 19px;
  }
}//640


@media only screen and (max-width : 575px) {
  .ab__w {
    display: block;
  }
  .ab__col {
    width: 100%;    
  }  
  .ab__col + .ab__col {
    margin-top: 20px;
  }
  .btn {
    font-size: 17px;
    height: 65px;
    padding: 0 11px 0 32px;
  }
  .btn:after {
    height: 44px;
    width: 44px;
    margin-left: 10px;
  } 
  
}//575


@media only screen and (max-width : 480px) {

}//480

@media only screen and (max-width : 375px) {
  .footer {
    padding: 50px 0;
  }
}//375

@media only screen and (max-width : 360px) {
  .btn {
    font-size: 15px;
    padding: 0 13px 0 24px;
  }
}//360

@media only screen and (max-width : 320px) {
  body, body > * {
    width: auto;
    min-width: 320px;
  }
}