@media only screen and (max-width : 1600px) {
  .ab {
    padding: 80px 0;  
  }

  .ab__col p {
    font-size: 26px;
    margin-bottom: 30px;    
  } 
}

@media only screen and (max-width : 1366px) {
  .ab__col p {
    font-size: 22px;
    margin-bottom: 18px;
  }
  .ab__h {
    margin-bottom: 43px;
  }
  .ab__w {
    gap: 40px;
  }
  .btn {
    font-size: 17px;
    height: 70px;
    padding-left: 30px;
  }
  .btn:after {
    width: 40px;
    height: 40px;
    background-size: 31px;

  }
  
}

@media only screen and (max-width : 1199px) {
  .ab {
    padding: 70px 0;
  }



}


@media only screen and (max-width : 991px) {
  .ab__col p {
    font-size: 17px;
    margin-bottom: 14px;
  }
  .ab__h {
    margin-bottom: 26px;
    font-size: 46px;
    font-weight: 550;
  }
}


@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 640px) {

}

@media only screen and (max-width : 575px) {

}


@media only screen and (max-width : 480px) {

}

@media only screen and (max-width : 375px) {

}

@media only screen and (max-width : 360px) {

}

@media only screen and (max-width : 320px) {
  body, body > * {
    width: auto;
    min-width: 320px;
  }
}