@charset "UTF-8";

$nr: no-repeat;
$rb: right bottom;
$rt: right top;
$rc: right center;
$cc: center center;
$lc: left center;
$lb: left bottom;
$bc: bottom center;
$i: !important;
$tr: transparent;
$bord: 1px solid #EAEAEA;
$black: #000;
$bcol: #f3ebdc;
$ff2: 'Open Sans', sans-serif;


@import "_reset.scss";
@import "_media.scss";

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('../fonts/MuseoSansCyrl-300.woff') format('woff'),
  url('../fonts/MuseoSansCyrl-300.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('../fonts/MuseoSansCyrl-500.woff') format('woff'),
  url('../fonts/MuseoSansCyrl-500.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('../fonts/MuseoSansCyrl-700.woff') format('woff'),
  url('../fonts/MuseoSansCyrl-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

.w100 {
  width: 100% $i;  
  border-radius: 0 $i;
}

.delta {
  display: none;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

button {
  border: none;
  outline: none;
}

textarea {  
  &:hover, &:active, &:focus {    
    outline: none;    
  }
}

body {  
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-weight: normal;
  font-weight: 300;
  font-size: 25px;
  position: relative;  
  &.ohi {
    overflow: hidden;
  }
}

body::-webkit-scrollbar {
  width: 10px;               /* ширина scrollbar */
}
body::-webkit-scrollbar-track {
  background: #fff;        /* цвет дорожки */
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(168,168,168,0.7);    /* цвет плашки */
  border-radius: 10px;       /* закругления плашки */
  border: 1px solid #ccc;  /* padding вокруг плашки */
}



.wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;  
  /*overflow: hidden;*/
  display: flex;    
  flex-direction: column;    
  /*min-height: 100vh;*/
}

.main {  
  flex-grow: 1;
}

/*modal*/


.modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  z-index: 5;  
  display: none;
  background: rgba(45, 40, 40, 0.5);
}

.modal-form__layout {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2;
}

.modal-form__block {
  position: absolute;
  top: 5%;
  margin-bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 6;   
  width: 555px; 
  background-color: #FFF;
  min-height: 100px;
}

.modal-form__inner {
  position: relative;  
}

.modal-close {
  cursor: pointer;
  display: block;
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 7;
  width: 24px;
  height: 24px;
  background: url("../img/close-w.svg") no-repeat 0 0;
}




/*end modal*/


/*top menu mnu*/

.menu__list {
  > li {
    &:not(:last-child) {
      margin-right: 15px;
    }
  }
  li {
    position: relative;
  }
  a.parent {
    margin-right: 25px;
  }
}
.menu__list {
  display: flex;  
  
}
.menu__link {
  display: block;
  height: 20px;
}
.sub-menu__list {
  position: absolute;
  top: 15px;
  padding-top: 5px;
  left: 0;  
  display: none;
  li {
    padding: 10px;
  }
  > li {
    background-color: #000; 
  }
}

.sub-menu__link {
  color: #fff;
}
.sub-sub-menu__list {
  left: 100%;
  top: 0;
  position: absolute;
  display: none;  
  > li {
    background-color: #ccc;
    
  }
}
.sub-sub-menu__link {}

.menu__arrow {}
.menu-arrow {
  display: none;
  width: 0;
  height: 0;  
  border-top: 10px solid #000;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  right: 0;
  top: calc(50% - 5px);
  &.active {
    transform: rotate(180deg);
  }
}

.sub-menu__arrow {
  border-top: 10px solid transparent;
  border-left: 10px solid #fff;
  border-right: none;
  border-bottom: 10px solid transparent;
}

body {
  &.mouse {
    .menu__list {      
      > li:hover {
        .sub-menu__list {
          display: block;
        }    
      }
    }
    .sub-menu__list {
      > li {      
        &:hover {
          .sub-sub-menu__list {
            display: block;
          }      
        }
      }
    }
  }
  &.touch {
    .menu-arrow {
      display: block;
    }
    .sub-menu__list.open {
      display: block;
    }
    .sub-sub-menu__list.open {
      display: block;
    }
  }
}

@media (max-width : 767px) {
  .menu__list {
    display: block;
  }
  .sub-menu__list {
    position: static;
  }
  .sub-sub-menu__list {
    position: static;
  }
  .sub-menu__arrow {
    border-top: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;  
  }
  .menu-arrow {
    top: 0px;
    right: 5px;
  }
  .sub-menu__list,
  .sub-sub-menu__list {
    display: block;
    max-height: 0; 
    overflow: hidden; 
    transition: max-height 0.4s linear;          
    &.open {    
      max-height: 300px;
    }

  }
}

/*end top menu mnu*/

.btn,
.btn-o,
*[class$="btn"] {  
  transition: 0.5s;
  display: none;  
  @media (any-hover: hover) {
    &:hover {
      text-decoration: none;
    }
  }
}




.menu__row {
  display: flex;
  align-items: center;  
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.logo {
  display: inline-flex;
  svg {
    height: 24px;
  }
}

.head__menu {
  ul {
    display: flex;    
  }
  li {  
    + li {
      margin-left: 44px;
    }
    a {
      font-size: 25px;
      font-weight: 500;
      letter-spacing: 0.066em;
      color: #ffffff;
    }
  }
}



.head__socs {
  display: flex;  
  align-items: center;
  gap: 23px;
  a {    
    flex: none;
    display: inline-block;
    width: 30px;
    svg {
      max-width: 100%;      
      height: auto;
      max-height: 30px;
    }
  }
}

.screen {
  height: 100svh;
}

.head {
  background-color: rgb(0, 0, 0);
  padding-top: 96px;
  padding-bottom: 33px;
  position: relative;
  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;  
  transition: border-radius, width 0.33s;
  min-width: calc(100% - 100px) $i;
  &.start {    
    border-radius: 0 0 40px;
    max-width: calc(100% - 40px);
  }
}

.icon_dark {
  display: none;
}

.top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 38px 0;
  transition: background-color 0.5s;
  &.fixed {
    z-index: 10;
    position: fixed;
    background-color: #FFF;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 30px 0px;
    padding-bottom: 22px;
    .icon {
      display: none;
    }
    .icon_dark {
      display: inline-flex;
    }
    .head__menu {
      li {
        a {
          color: #000;
        }
      } 
    }
    .head__socs {
      a {
        svg {       
        }
      }
    } 

  }//fixed
}

.main__video {
  display: flex;  
  justify-content: center;
  width: 100%;  
  max-width: 1152px;
  margin-left: auto;
  margin-right: auto;      
  position: absolute;  
  width: 100%;   
  source {
    height: auto;
  }
}

.head__contain {  
  flex-grow: 1;
  display: flex;          
  flex-direction: column;
}


.open__bot {
  position: relative;
  margin-top: auto;
}

.open__slider {
  margin-bottom: 70px;  
}

.slider-open__item {
  font-size: 25px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  text-align: center;
}

.open__btn-w {
  display: flex;
  justify-content: center;
}

.btn {
  height: 80px;
  background-color: rgb(255, 255, 255);
  font-size: 19px;
  font-weight: 500;
  color: rgb(0, 0, 0);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  padding: 0 17px 0 35px;
  &:after {
    content: "";
    display: block;    
    display: inline-flex;
    width: 50px;    
    align-items: center;
    justify-content: center;
    height: 50px;    
    border-radius: 50%;    
    margin-left: 15px;
    background: #000 url("../img/arr-r1.svg") no-repeat center;        
    background-size: 37px;
  }    
  &.dark {
    background-color: #000;
    color: #FFF;
    &:after {      
      background-color: #FFF;
      background-image: url("../img/arr-r2.svg");
    }
  }  
}



.ab {
  padding-top: 165px;
  padding-bottom: 195px;
}

.h2 {
  font-size: 50px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  margin-bottom: 60px;  
}

.ab__h {
  margin-bottom: 86px;
}

.ab__w {
  display: flex;
  gap: 89px;
}

.ab__col {
  width: 50%;
  p {
    font-size: 29.2px;
    line-height: 1.4;
    font-weight: 300;
    color: rgb(0, 0, 0);
    margin-bottom: 50px;
  }
}


.ind {
  padding-bottom: 106px;
  padding-top: 45px;
}

.ind__w {
  display: flex;
  gap: 57px;
  color: #FFF;      
}

.ind__l {
  width: 50%;
  background-color: rgb(0, 0, 0);
  padding: 55px 31px 34px 42px;
  border-radius: 5px;
  p {
    font-size: 25px;
    line-height: 132%;
    font-weight: 300;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
  }
}

.ind__ul {
  margin-bottom: 164px;
}

.ind__li {
  margin-bottom: 20px;
}


.ind__link {
  font-size: 37px;
  font-weight: 500;
  color: #ffffff;
  &.active {  
    color: rgb(209, 195, 172);
  }
}



.ind__text-b {

}

.ind__l {
  height: 100vh;
  position: sticky;
  top: 0;
}
.ind__r {
  width: 50%;
}
.ind__img {  
  height: 100vh;
  border-radius: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;    
  display: flex;    
  position: sticky;
  top: 0;
  overflow: hidden;  
  img {
    max-width: 100%;
  }
}


//2000


@media (max-width : 1600px) {
  .head__menu li {
    + li {

    }
    a {
      font-size: 22px;
    }
  } 
}//1600

@import "_after-styless";

body {  
  &.active {
    background: url("../img/1920.jpg") no-repeat top -10px center;
    .wrapper {
      opacity: 0.4;
    } 
    .footer {
      opacity: 0.4;
    }
    .get {
      opacity: 0.4;
    }
  }    
}


/*****************/
/*****************/
/*****************/
/*****************/

/*adrikan*/

/*html, body {
  height: 100%;  
}

.wrapper {
  display: flex;  
  flex-direction: column;
  min-height: 100vh;
}

.fullscreen {
  background-color: #666;
  display: flex;
  min-height: 100vh;
  padding: 20px 0;
}

.fullscreen--two {
  background-color: #c57b55f0;      
}

.fullscreen--bg {
  background: url("../img/01.png") center / cover no-repeat fixed;
}

.fullscreen__body {
  flex: 1 1 auto;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  text-align: center;  
  justify-content: center;    
  flex-direction: column;
  color: #FFF;
  padding: 20px;
}
.fullscreen__title {
  font-weight: 700;
  font-size: 35px;  
  margin-bottom: 25px;
}
.fullscreen__text {
  font-size: 25px;  
  margin-bottom: 17px;
}
.fullscreen__link {
  display: inline-flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  border: 1px solid #fff;
  color: #FFF;
  height: 60px;
  font-weight: 500;  
  align-self: center;
  }*/
  /*end adrikan*/



  .layout_content {
    display: flex;
  }
  .layout_left {  
    width: 50%;
  }

  .layout_right {
    width: 50%;
  }

  .layout_card {    
    height: 100vh;
    border-radius: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    display: flex;    
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #FFF;
    border: 5px solid #ccc;
  }

  /*end webflow*/