

.layout_content {
  display: flex;
}
.layout_left {  
  width: 50%;
}

.layout_right {
  width: 50%;
}

.layout_card {    
  height: 100vh;
  border-radius: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;    
  display: flex;    
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: #FFF;
  border: 5px solid #ccc;
}
