@charset "UTF-8";

$nr: no-repeat;
$rb: right bottom;
$rt: right top;
$rc: right center;
$cc: center center;
$lc: left center;
$lb: left bottom;
$bc: bottom center;
$i: !important;
$tr: transparent;
$bord: 1px solid #EAEAEA;
$black: #000;
$bcol: #f3ebdc;
$ff2: 'Open Sans', sans-serif;


@import "_reset.scss";
@import "_media.scss";

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('../fonts/MuseoSansCyrl-300.woff') format('woff'),
  url('../fonts/MuseoSansCyrl-300.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('../fonts/MuseoSansCyrl-500.woff') format('woff'),
  url('../fonts/MuseoSansCyrl-500.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('../fonts/MuseoSansCyrl-700.woff') format('woff'),
  url('../fonts/MuseoSansCyrl-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

.w100 {
  width: 100% $i;  
  border-radius: 0 $i;
}

.delta {
  display: none;
}

a {
  text-decoration: none;  
  transition: color 0.33s;
  &:hover {
    text-decoration: underline;
  }
}

button {
  border: none;
  outline: none;
}

textarea {  
  &:hover, &:active, &:focus {    
    outline: none;    
  }
}

body {  
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-weight: normal;
  font-weight: 300;
  font-size: 25px;
  position: relative;  
  &.ohi {
    overflow: hidden;
  }
}

body::-webkit-scrollbar {
  width: 10px;               /* ширина scrollbar */
}
body::-webkit-scrollbar-track {
  background: #fff;        /* цвет дорожки */
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(168,168,168,0.7);    /* цвет плашки */
  border-radius: 10px;       /* закругления плашки */
  border: 1px solid #ccc;  /* padding вокруг плашки */
}

svg.hidden {
  display: none;
}

.wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;  
  //overflow: hidden;
  display: flex;    
  flex-direction: column;    
  min-height: 100vh;
}

.main {  
  flex-grow: 1;
}

/*modal*/


.modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  z-index: 5;  
  display: none;
  background: rgba(45, 40, 40, 0.5);
}

.modal-form__layout {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2;
}

.modal-form__block {
  position: absolute;
  top: 5%;
  margin-bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 6;   
  width: 555px; 
  background-color: #FFF;
  min-height: 100px;
}

.modal-form__inner {
  position: relative;  
}

.modal-close {
  cursor: pointer;
  display: block;
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 7;
  width: 24px;
  height: 24px;
  background: url("../img/close-w.svg") no-repeat 0 0;
}




/*end modal*/


/*top menu mnu*/

.menu__list {
  > li {
    &:not(:last-child) {
      margin-right: 15px;
    }
  }
  li {
    position: relative;
  }
  a.parent {
    margin-right: 25px;
  }
}
.menu__list {
  display: flex;  
  
}
.menu__link {
  display: block;
  height: 20px;
}
.sub-menu__list {
  position: absolute;
  top: 15px;
  padding-top: 5px;
  left: 0;  
  display: none;
  li {
    padding: 10px;
  }
  > li {
    background-color: #000; 
  }
}

.sub-menu__link {
  color: #fff;
}
.sub-sub-menu__list {
  left: 100%;
  top: 0;
  position: absolute;
  display: none;  
  > li {
    background-color: #ccc;
    
  }
}
.sub-sub-menu__link {}

.menu__arrow {}
.menu-arrow {
  display: none;
  width: 0;
  height: 0;  
  border-top: 10px solid #000;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  right: 0;
  top: calc(50% - 5px);
  &.active {
    transform: rotate(180deg);
  }
}

.sub-menu__arrow {
  border-top: 10px solid transparent;
  border-left: 10px solid #fff;
  border-right: none;
  border-bottom: 10px solid transparent;
}

body {
  &.mouse {
    .menu__list {      
      > li:hover {
        .sub-menu__list {
          display: block;
        }    
      }
    }
    .sub-menu__list {
      > li {      
        &:hover {
          .sub-sub-menu__list {
            display: block;
          }      
        }
      }
    }
  }
  &.touch {
    .menu-arrow {
      display: block;
    }
    .sub-menu__list.open {
      display: block;
    }
    .sub-sub-menu__list.open {
      display: block;
    }
  }
}

@media (max-width : 767px) {
  .menu__list {
    display: block;
  }
  .sub-menu__list {
    position: static;
  }
  .sub-sub-menu__list {
    position: static;
  }
  .sub-menu__arrow {
    border-top: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;  
  }
  .menu-arrow {
    top: 0px;
    right: 5px;
  }
  .sub-menu__list,
  .sub-sub-menu__list {
    display: block;
    max-height: 0; 
    overflow: hidden; 
    transition: max-height 0.4s linear;          
    &.open {    
      max-height: 300px;
    }

  }
}

/*end top menu mnu*/

.btn,
.btn-o,
*[class$="btn"] {  
  transition: 0.5s;
  display: none;  
  @media (any-hover: hover) {
    &:hover {
      text-decoration: none;
    }
  }
}




.menu__row {
  display: flex;
  align-items: center;  
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.logo {
  display: inline-flex;
  svg {
    height: 24px;
  }
}

.head__menu {
  ul {
    display: flex;    
  }
  li {  
    + li {
      margin-left: 44px;
    }
    a {
      font-size: 25px;
      font-weight: 500;
      letter-spacing: 0.066em;
      color: #ffffff;
    }
  }
}



.head__socs {
  display: flex;  
  align-items: center;
  gap: 23px;
  a {    
    flex: none;
    display: inline-block;
    width: 30px;
    svg {
      max-width: 100%;      
      height: auto;
      max-height: 30px;
    }
  }
}

.screen {
  height: 100svh;
}

.head {
  background-color: rgb(0, 0, 0);
  padding-top: 96px;
  padding-bottom: 33px;
  position: relative;
  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;  
  transition: border-radius, width 0.33s;
  min-width: calc(100% - 100px) $i;
  &.start {    
    border-radius: 0 0 40px;
    max-width: calc(100% - 40px);
  }
  a {
    &:hover {
      text-decoration: none;
    }
  }
}

.icon_dark {
  display: none;
}

.top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 38px 0;
  transition: background-color 0.5s;
  &.fixed {
    z-index: 10;
    position: fixed;
    background-color: #FFF;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 30px 0px;
    padding-bottom: 22px;
    .icon {
      display: none;
    }
    .icon_dark {
      display: inline-flex;
    }
    .head__menu {
      li {
        a {
          color: #000;
        }
      } 
    }
    .head__socs {
      a {
        svg {       
        }
      }
    } 

  }//fixed
}

.main__video {
  display: flex;  
  justify-content: center;
  width: 100%;  
  max-width: 1152px;
  margin-left: auto;
  margin-right: auto;      
  position: absolute;  
  width: 100%;   
  source {
    height: auto;
  }
}

.head__contain {  
  flex-grow: 1;
  display: flex;          
  flex-direction: column;
}


.open__bot {
  position: relative;
  margin-top: auto;
}

.open__slider {
  margin-bottom: 70px;  
}

.slider-open__item {
  font-size: 25px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  text-align: center;
}

.open__btn-w {
  display: flex;
  justify-content: center;
}



.btn {
  height: 80px;
  background-color: rgb(255, 255, 255);
  font-size: 19px;
  font-weight: 500;
  color: rgb(0, 0, 0);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  padding: 0 17px 0 35px;  
  &:after {
    content: "";
    display: block;    
    display: inline-flex;
    width: 50px;    
    align-items: center;
    justify-content: center;
    height: 50px;    
    border-radius: 50%;    
    margin-left: 15px;
    background: #000 url("../img/arr-r1.svg") no-repeat center;
    background-size: 37px;
  }    
  &.dark {
    background-color: #000;
    color: #FFF;
    &:after {      
      background-color: #FFF;
      background-image: url("../img/arr-r2.svg");
    }
  }  
}


.h2 {
  font-size: 50px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  margin-bottom: 60px;  
}



.ab {
  padding-top: 165px;
  padding-bottom: 195px;
}


.ab__h {
  margin-bottom: 86px;
  font-size: 50px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  margin-bottom: 60px;  
}

.ab__w {
  display: flex;
  gap: 89px;
  margin-bottom: 50px;
}

.ab__col {
  width: 50%;  
  p {
    font-size: 29.2px;
    line-height: 1.4;
    font-weight: 300;
    color: rgb(0, 0, 0);
    margin-bottom: 50px;      
    &:last-child {
      margin-bottom: 0;
    }
  }
}


.ab__btn-w {
  display: flex;  
  justify-content: center;
  margin-top: 50px;  
}


.ind {
  padding-bottom: 106px;
  padding-top: 45px;
}

.ind__w {
  display: flex;
  gap: 57px;
  color: #FFF;      
}

.ind__ul {
  margin-bottom: auto;
  li {
    + li {
      margin-top: 20px;
    }
    a {      
      font-size: 37px;
      font-weight: 500;
      color: #ffffff;
      cursor: auto; 
      @media (any-hover: hover) {
       &:hover {
         text-decoration: none;
       }
     }     
   }
   &.active {
    a {
      color: rgb(209, 195, 172);        
    }
  }
}
}


.ind__content-list {
  position: relative;
  li {
    transition: 0.5s;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    &.active {
      opacity: 1;
      visibility: visible;
    }
  }
}


.ind__l {
  height: 100vh;
  position: sticky;
  top: 0;
  width: 50%;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  flex-direction: column;
  p {
    font-size: 25px;
    line-height: 132%;
    font-weight: 300;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
  }
}


.ind__img img,
.ind__inn {
  height: 836px;
}
.ind__inn {
  background-color: rgb(0, 0, 0);
  padding: 55px 31px 34px 42px;
  border-radius: 20px; 
  display: flex;  
  flex-direction: column; 
}

.ind__r {
  width: 50%;  
}
.ind__img {  
  height: 100vh;
  border-radius: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;    
  display: flex;    
  position: sticky; 
  overflow: hidden; 
  top: 0;  
  &.active {

  }
  img {
    max-width: 100%;
  }
}

.cat {
  padding-top: 55px;
  padding-bottom: 102px;
}

.cat__title {
  font-size: 37px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  margin-bottom: 30px;
}

.cat__desc {
  font-size: 25px;
  font-weight: 300;
  line-height: 1.3;
  color: rgb(0, 0, 0);
  margin-bottom: 90px;
}

.cat__w {
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 90px;
  position: relative;
  a {
    width: calc(25% - 15px);
    height: auto;
    aspect-ratio: 1 / 1;
    display: flex;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}

.catgal__container {
  position: fixed;
  .fancybox-bg {
    background-color: rgba(#FFF, 0.95);
  }
}

.catgal__slide {
  .fancybox-image {
    -webkit-border-radius: 20px;
    border-radius: 20px;
  }
  
}

.fancybox-navigation .fancybox-button {
  padding: 0;
  /*opacity: 1 $i;
  visibility: visible $i;*/
  color: #FFF;
  width: 50px;
  height: 90px;
  background: none;
  top: calc(50% - 45px);
  div {
    padding: 0;
    display: flex;    
    align-items: center;
    justify-content: center;
    svg {
      width: 40px;
      height: 40px;
    }
  }
}

.fancybox-navigation .fancybox-button--arrow_left {
  left: calc(50vw - (750px / 2));
}

.fancybox-navigation .fancybox-button--arrow_right {
  right: calc(50vw - (750px / 2));
}

.fancybox-close-small {
  top: 0px;
  right: 0px;
  opacity: 1 $i;
  padding: 0;
  width: 60px;
  height: 60px;
  display: flex;  
  align-items: center;
  justify-content: center;
  svg {
    width: 35px;
    height: 35px;
  }
}




.btn__black-w {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn__black {
  height: 77px;
  background-color: rgb(0, 0, 0);
  font-weight: 500;
  color: rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
  display: inline-flex;
  padding-left: 35px;
  padding-right: 81px;
  border-radius: 50px;
}


.accordion-header {  
  cursor: pointer;
}

.accordion-content {
  display: none;
  &.open-content {
    display: block;
  }
}

.acc {
  margin-bottom: 100px;
}



.acc__w {
  margin-bottom: 100px;
}



.acc__container {
  .accordion-item {
    border-top: 1px solid rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    border-left-color: rgb(88, 88, 88);
    margin-bottom: 0px;
  }
  .accordion-header {
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 25px;
    font-weight: 300;
    color: rgb(0, 0, 0);    
    display: flex;
    align-items: center;
    &:before {
      content: "";
      background-image: url("../img/plus.png");
      background-repeat: no-repeat;
      background-position: left center;
      display: block;
      width: 29px;
      height: 29px;
      margin-right: 346px;
      flex: 0 0 auto;
    }
    &.active-header {
      &:before {
        background-image: url("../img/minus.png");
      }
    }
  }
  .accordion-content {
    margin-top: 11px;
  }
}//acc__container

.acc__content-row {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 299px;  
}



.acc__img {
  margin-right: 55px;
  width: 525px;
  height: 525px;
  flex: 0 0 auto;
}

.acc__desc {
  font-size: 25px;
  color: rgb(0, 0, 0);
  line-height: 132%;
}


.create {
  padding-top: 70px;
  padding-bottom: 68px;
  background-color: rgb(0, 0, 0);
  background-image: url("../img/create-bg.jpeg");
  background-repeat: no-repeat;
  background-position: right 0px center;
}

.contain {
}

.create__head {
  font-size: 50px;
  color: rgb(254, 254, 254);
  margin-bottom: 43px;
}

.create__w {
}


.tabs__content-list-item {
  opacity: 0;
  visibility: hidden;
  transition: 0.75s;
  &.active {
    opacity: 1;
    visibility: visible;
  }
  img {
    margin-bottom: 87px;
  }
}

.tabs__list-item {
  cursor: pointer;
  transition: .75s;
}

.jcc {
  display: flex;  
  justify-content: center;
}

.aic {  
  display: flex;
  align-items: center;
}

.create__tabs {
  display: flex;
  .tabs__list {
    display: flex;
  }

  .tabs__list-item {  
    background-color: rgb(0, 0, 0);
    position: relative;
    min-height: 761px;
    width: 65px;
    border-right: 1px solid #fff;
    span {
      font-size: 25px;
      color: rgb(255, 255, 255);
      position: absolute;      
      white-space: nowrap;
      transform: rotate(-90deg);      
      display: inline-block;
      left: 11px;
      bottom: 147px;
      width: 50px;
      height: 28px;
      font-weight: 500;
    }
    i {
      font-size: 33px;      
      color: #FFF;
      display: block;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      position: absolute;
      bottom: 53px;
      width: 100%;
      font-style: normal;
      font-weight: 300;
    }    
    &.active {
      background-color: rgb(255, 255, 255);      
      color: #000; 
      span {
        color: #000;
      } 
      i {
        color: #000;
      }    
    }
  }
  .tabs__content-list {    
    display: flex;    
    flex-direction: column;
    position: relative;    
    flex-grow: 1;
  }

  .tabs__content-list-item {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding-right: 436px;
    left: 145px;
    &.active {
      &._center {
        display: flex;      
        justify-content: center;
        flex-direction: column;
      }    
    }
  }
}

.create__img {
  width: 300px;
  height: 300px;
  display: flex;
  margin-bottom: 87px;
}

.create__w p {
  font-size: 25px;
  color: rgb(255, 255, 255);
  line-height: 132%;
  margin-bottom: 50px;  
  &:last-child {
    margin-bottom: 0;
  }
}


.loc {
  padding-top: 103px;
  padding-bottom: 61px;
}

.loc__w {
  display: flex;
  position: relative;  
  margin-bottom: 58px;
}

.loc__col {
  margin-right: 9px;
  width: 25%;
  flex: 0 0 auto;
}

.loc__img-w {
  display: flex;
  width: 100%;  
  align-items: center;
  justify-content: center;  
  overflow: hidden;
  margin-bottom: 41px;
  flex: 0 0 auto;
  width: 100%;  
  align-items: flex-start; 
  img {
    line-height: 0;
    font-size: 0;
    display: block;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 15px;
  }
}

.loc__img {
  width: 100%;
}

.loc__desc {
  font-size: 25px;
  color: rgb(0, 0, 0);
  line-height: 1.2;
}

.loc__map {
  width: 75%;
  overflow: hidden;
  border-radius: 15px;  
  flex-grow: 1;
  img {
    max-width: 100%;
    height: auto;
    width: 100%;
  }
}

.popform {
  background: rgb(0, 0, 0);
  padding: 39px 39px 56px 59px;
  border-radius: 20px;  
  max-width: 881px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);  
  input[type="password"],
  input[type="text"] {
    background: none;
    border: none;
    font-size: 24px;
    color: rgb(255, 255, 255);
    width: 100%;
    border-bottom: 1px solid #fff;
  }
}

.popform__txt {
  font-size: 25px;
  color: rgb(255, 255, 255);
  line-height: 1.4;
  margin-top: 100px;
  margin-bottom: 153px;
}


.popform__btn-w {
  margin-top: 118px;
  display: flex;
  justify-content: center;
}



.popform__close {
  display: inline-block;
  cursor: pointer;
  background-image: url("../img/close.svg");
  background-repeat: no-repeat;
  background-position: left center;
  width: 44px;
  height: 44px;
  display: flex;
  position: absolute;
  top: 20px;
  right: 20px;
}




.footer {
  background: rgb(0, 0, 0);
  padding-top: 74px;
  padding-bottom: 74px;  
  a {
    &:hover {
      text-decoration: none;
    }
  }
}

.contain {
}

.footer__w {
  display: flex;
  justify-content: space-between;
}

.footer__l {
  display: flex;
}


.footer__ul {
  li {
    margin-bottom: 20px;
    a {
      font-size: 17px;
      color: #FFFFFF;
      text-transform: uppercase;
      &.active {    
        color: rgb(209, 195, 172);
      }      
      @media (any-hover: hover) {
        &:hover {
          color: rgb(209, 195, 172);
        }
      }
    }
  }
}


.footer__logo {
  display: inline-flex;  
  margin-right: 133px;
  width: 281px;
  svg,
  img {
    max-width: 100%;
    height: auto;
    max-height: 28px;
  }
}




.footer__r {
  display: flex;  
  align-items: center;
}

.footer__arr-up {
  background-image: url("../img/arr-up-ft.svg");
  background-repeat: no-repeat;
  background-position: left center;
  display: flex;
  width: 53px;
  height: 53px;  
  margin-right: 235px;
}

footer,
section {
  /*display: none $i;*/
  &.ind {
    /*display: block $i;*/
  }
  &.et-slide,
  &.et-hero-tabs,
  &.ab,
  &.cat {
    /*display: block $i;*/
  }
}

.et-slides__row {
  display: flex;
}

.et-slides__r {
  width: 50%;
}

.et-slides__l {
  width: 50%;
}

//2000


@media (max-width : 1600px) {
  .head__menu li {
    + li {

    }
    a {
      font-size: 22px;
    }
  } 
}//1600




@import "_after-styless";

body {  
  &.active {
    background: url("../img/1920.jpg") no-repeat top -10px center;
    .wrapper {
      opacity: 0.4;
    } 
    .footer {
      opacity: 0.4;
    }
    .get {
      opacity: 0.4;
    }
  }    
}


/*****************/
/*****************/
/*****************/
/*****************/

/*adrikan*/

/*html, body {
  height: 100%;  
}

.wrapper {
  display: flex;  
  flex-direction: column;
  min-height: 100vh;
}

.fullscreen {
  background-color: #666;
  display: flex;
  min-height: 100vh;
  padding: 20px 0;
}

.fullscreen--two {
  background-color: #c57b55f0;      
}

.fullscreen--bg {
  background: url("../img/01.png") center / cover no-repeat fixed;
}

.fullscreen__body {
  flex: 1 1 auto;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  text-align: center;  
  justify-content: center;    
  flex-direction: column;
  color: #FFF;
  padding: 20px;
}
.fullscreen__title {
  font-weight: 700;
  font-size: 35px;  
  margin-bottom: 25px;
}
.fullscreen__text {
  font-size: 25px;  
  margin-bottom: 17px;
}
.fullscreen__link {
  display: inline-flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  border: 1px solid #fff;
  color: #FFF;
  height: 60px;
  font-weight: 500;  
  align-self: center;
  }*/
  /*end adrikan*/



  .layout_content {
    display: flex;
  }
  .layout_left {  
    width: 50%;
    height: 100vh;
    position: sticky;
    top: 0;
  }

  .layout_right {
    width: 50%;
  }

  .layout_card {
    width: 100%;    
    height: 100vh;
    border-radius: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    display: flex;    
    background-color: #FFF;
    border: 5px solid #ccc;
    position: sticky;
    top: 0;
    overflow: hidden;
  }

  /*end webflow*/
  

  /*stycky slider*/
  

/*  .et-hero-tabs,
  .et-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background: #eee;
    text-align: center;
    padding: 0 2em;
    h1 {
      font-size: 2rem;
      margin: 0;
      letter-spacing: 1rem;
    }
    h3 {
      font-size: 1rem;
      letter-spacing: 0.3rem;
      opacity: 0.6;
    }
  }

  .et-hero-tabs-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: #fff;
    z-index: 10;
    &--top {
      position: fixed;
      top: 0;
    }
  }

  .et-hero-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #000;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    font-size: 0.8rem;
    &:hover {
      color:white;
      background: rgba(102,177,241,0.8);
      transition: all 0.5s ease;
    }
  }

  .et-hero-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 6px;
    background: #66B1F1;
    transition: left 0.3s ease;
  }

  @media (min-width: 800px) {
    .et-hero-tabs,
    .et-slide {
      h1 {
        font-size: 3rem;
      }
      h3 {
        font-size: 1rem;
      }
    }
    .et-hero-tab {
      font-size: 1rem;
    }
    }*/

  /*stycky slider*/