@charset "UTF-8";
html {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  padding: 0;
  margin: 0;
  line-height: 1; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: normal; }

p {
  margin-top: 0;
  font-weight: normal;
  margin-top: 0; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

form {
  padding: 0;
  margin: 0; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

li {
  padding: 0;
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  font-size: 75%;
  line-height: 0; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible;
  text-transform: none; }

select {
  text-transform: none; }

button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer; }

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input[type="checkbox"], input[type="radio"] {
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

* {
  box-sizing: border-box; }

*:before, *:after {
  box-sizing: border-box; }

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent; }

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

a {
  text-decoration: none; }

figure {
  margin: 0; }

img {
  vertical-align: middle; }

.group:after, .contain:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden; }

.embed-responsive::before {
  display: block;
  content: ""; }

.embed-responsive-21by9::before {
  padding-top: 42.857143%; }

.embed-responsive-16by9::before {
  padding-top: 56.25%; }

.embed-responsive-4by3::before {
  padding-top: 75%; }

.embed-responsive-1by1::before {
  padding-top: 100%; }

.embed-responsive iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0; }

.swiper-button-disabled {
  opacity: 0 !important; }

.swiper-button:focus {
  outline: none; }

.lcpadding {
  padding-left: calc((100% - 1704px)/2); }
  @media only screen and (max-width: 1199px) {
    .lcpadding {
      padding-left: calc((100% - 970px)/2); } }
  @media only screen and (max-width: 991px) {
    .lcpadding {
      padding-left: calc((100% - 750px)/2); } }
  @media only screen and (max-width: 767px) {
    .lcpadding {
      padding-left: calc((100% - 600px)/2); } }
  @media only screen and (max-width: 640px) {
    .lcpadding {
      padding-left: calc((100% - 530px)/2); } }
  @media only screen and (max-width: 570px) {
    .lcpadding {
      padding-left: 15px; } }

.rcpadding {
  padding-right: calc((100% - 1704px)/2); }
  @media only screen and (max-width: 1199px) {
    .rcpadding {
      padding-right: calc((100% - 970px)/2); } }
  @media only screen and (max-width: 991px) {
    .rcpadding {
      padding-right: calc((100% - 750px)/2); } }
  @media only screen and (max-width: 767px) {
    .rcpadding {
      padding-right: calc((100% - 600px)/2); } }
  @media only screen and (max-width: 640px) {
    .rcpadding {
      padding-right: calc((100% - 530px)/2); } }
  @media only screen and (max-width: 570px) {
    .rcpadding {
      padding-right: 15px; } }

.contain {
  max-width: 1734px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px; }

@media only screen and (max-width: 575px) {
  .contain {
    max-width: 100%; } }

@media only screen and (max-width: 320px) {
  body, body > * {
    width: auto;
    min-width: 320px; } }

@media only screen and (min-width: 1080px) {
  .main-mnu {
    display: block !important; }
  .hidden-mnu {
    display: none; } }

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url("../fonts/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl-300.woff2") format("woff2");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url("../fonts/MuseoSansCyrl-500.woff") format("woff"), url("../fonts/MuseoSansCyrl-500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url("../fonts/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal; }

.w100 {
  width: 100% !important;
  border-radius: 0 !important; }

.delta {
  display: none; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

button {
  border: none;
  outline: none; }

textarea:hover, textarea:active, textarea:focus {
  outline: none; }

body {
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-weight: normal;
  font-weight: 300;
  font-size: 25px;
  position: relative; }
  body.ohi {
    overflow: hidden; }

body::-webkit-scrollbar {
  width: 10px;
  /* ширина scrollbar */ }

body::-webkit-scrollbar-track {
  background: #fff;
  /* цвет дорожки */ }

body::-webkit-scrollbar-thumb {
  background-color: rgba(168, 168, 168, 0.7);
  /* цвет плашки */
  border-radius: 10px;
  /* закругления плашки */
  border: 1px solid #ccc;
  /* padding вокруг плашки */ }

.wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  /*overflow: hidden;*/
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  /*min-height: 100vh;*/ }

.main {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

/*modal*/
.modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  z-index: 5;
  display: none;
  background: rgba(45, 40, 40, 0.5); }

.modal-form__layout {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2; }

.modal-form__block {
  position: absolute;
  top: 5%;
  margin-bottom: 20px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  z-index: 6;
  width: 555px;
  background-color: #FFF;
  min-height: 100px; }

.modal-form__inner {
  position: relative; }

.modal-close {
  cursor: pointer;
  display: block;
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 7;
  width: 24px;
  height: 24px;
  background: url("../img/close-w.svg") no-repeat 0 0; }

/*end modal*/
/*top menu mnu*/
.menu__list > li:not(:last-child) {
  margin-right: 15px; }

.menu__list li {
  position: relative; }

.menu__list a.parent {
  margin-right: 25px; }

.menu__list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.menu__link {
  display: block;
  height: 20px; }

.sub-menu__list {
  position: absolute;
  top: 15px;
  padding-top: 5px;
  left: 0;
  display: none; }
  .sub-menu__list li {
    padding: 10px; }
  .sub-menu__list > li {
    background-color: #000; }

.sub-menu__link {
  color: #fff; }

.sub-sub-menu__list {
  left: 100%;
  top: 0;
  position: absolute;
  display: none; }
  .sub-sub-menu__list > li {
    background-color: #ccc; }

.menu-arrow {
  display: none;
  width: 0;
  height: 0;
  border-top: 10px solid #000;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  right: 0;
  top: calc(50% - 5px); }
  .menu-arrow.active {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }

.sub-menu__arrow {
  border-top: 10px solid transparent;
  border-left: 10px solid #fff;
  border-right: none;
  border-bottom: 10px solid transparent; }

body.mouse .menu__list > li:hover .sub-menu__list {
  display: block; }

body.mouse .sub-menu__list > li:hover .sub-sub-menu__list {
  display: block; }

body.touch .menu-arrow {
  display: block; }

body.touch .sub-menu__list.open {
  display: block; }

body.touch .sub-sub-menu__list.open {
  display: block; }

@media (max-width: 767px) {
  .menu__list {
    display: block; }
  .sub-menu__list {
    position: static; }
  .sub-sub-menu__list {
    position: static; }
  .sub-menu__arrow {
    border-top: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent; }
  .menu-arrow {
    top: 0px;
    right: 5px; }
  .sub-menu__list,
  .sub-sub-menu__list {
    display: block;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s linear; }
    .sub-menu__list.open,
    .sub-sub-menu__list.open {
      max-height: 300px; } }

/*end top menu mnu*/
.btn,
.btn-o,
*[class$="btn"] {
  transition: 0.5s;
  display: none; }
  @media (any-hover: hover) {
    .btn:hover,
    .btn-o:hover,
    *[class$="btn"]:hover {
      text-decoration: none; } }

.menu__row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 2; }

.logo {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex; }
  .logo svg {
    height: 24px; }

.head__menu ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.head__menu li + li {
  margin-left: 44px; }

.head__menu li a {
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 0.066em;
  color: #ffffff; }

.head__socs {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 23px; }
  .head__socs a {
    -webkit-flex: none;
        -ms-flex: none;
            flex: none;
    display: inline-block;
    width: 30px; }
    .head__socs a svg {
      max-width: 100%;
      height: auto;
      max-height: 30px; }

.screen {
  height: 100svh; }

.head {
  background-color: black;
  padding-top: 96px;
  padding-bottom: 33px;
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  transition: border-radius, width 0.33s;
  min-width: calc(100% - 100px) !important; }
  .head.start {
    border-radius: 0 0 40px;
    max-width: calc(100% - 40px); }

.icon_dark {
  display: none; }

.top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 38px 0;
  transition: background-color 0.5s; }
  .top.fixed {
    z-index: 10;
    position: fixed;
    background-color: #FFF;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 30px 0px;
    padding-bottom: 22px; }
    .top.fixed .icon {
      display: none; }
    .top.fixed .icon_dark {
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex; }
    .top.fixed .head__menu li a {
      color: #000; }

.main__video {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 1152px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  width: 100%; }
  .main__video source {
    height: auto; }

.head__contain {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.open__bot {
  position: relative;
  margin-top: auto; }

.open__slider {
  margin-bottom: 70px; }

.slider-open__item {
  font-size: 25px;
  font-weight: 500;
  color: white;
  text-align: center; }

.open__btn-w {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.btn {
  height: 80px;
  background-color: white;
  font-size: 19px;
  font-weight: 500;
  color: black;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50px;
  padding: 0 17px 0 35px; }
  .btn:after {
    content: "";
    display: block;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 50px;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 50px;
    border-radius: 50%;
    margin-left: 15px;
    background: #000 url("../img/arr-r1.svg") no-repeat center;
    background-size: 37px; }
  .btn.dark {
    background-color: #000;
    color: #FFF; }
    .btn.dark:after {
      background-color: #FFF;
      background-image: url("../img/arr-r2.svg"); }

.ab {
  padding-top: 165px;
  padding-bottom: 195px; }

.h2 {
  font-size: 50px;
  font-weight: 700;
  color: black;
  margin-bottom: 60px; }

.ab__h {
  margin-bottom: 86px; }

.ab__w {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 89px; }

.ab__col {
  width: 50%; }
  .ab__col p {
    font-size: 29.2px;
    line-height: 1.4;
    font-weight: 300;
    color: black;
    margin-bottom: 50px; }

.ind {
  padding-bottom: 106px;
  padding-top: 45px; }

.ind__w {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 57px;
  color: #FFF; }

.ind__l {
  width: 50%;
  background-color: black;
  padding: 55px 31px 34px 42px;
  border-radius: 5px; }
  .ind__l p {
    font-size: 25px;
    line-height: 132%;
    font-weight: 300;
    color: white;
    margin-bottom: 20px; }

.ind__ul {
  margin-bottom: 164px; }

.ind__li {
  margin-bottom: 20px; }

.ind__link {
  font-size: 37px;
  font-weight: 500;
  color: #ffffff; }
  .ind__link.active {
    color: #d1c3ac; }

.ind__l {
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0; }

.ind__r {
  width: 50%; }

.ind__img {
  height: 100vh;
  border-radius: 24px;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  overflow: hidden; }
  .ind__img img {
    max-width: 100%; }

@media (max-width: 1600px) {
  .head__menu li a {
    font-size: 22px; } }

.completed-slde-dots {
  position: absolute;
  left: 28px;
  bottom: 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .completed-slde-dots li {
    font-size: 0;
    padding: 0;
    margin: 0;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    width: 10px;
    height: 10px;
    border: 2px solid white;
    background: none;
    margin-left: 6px;
    margin-right: 6px;
    cursor: pointer; }
    .completed-slde-dots li:focus {
      outline: none; }
    .completed-slde-dots li:active {
      outline: none;
      background: none; }
  .completed-slde-dots .slick-active {
    border: 2px solid white;
    background-color: #ffffff; }

.nobrd {
  border: none; }

.eye-3 {
  position: fixed;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background-color: #ccc;
  z-index: 100;
  border-radius: 50%; }

@media (max-width: 640px) {
  .help-call .measurer-form .btn {
    margin-top: 0; } }

@media only screen and (max-width: 320px) {
  body, body > * {
    width: auto;
    min-width: 320px; } }

body.active {
  background: url("../img/1920.jpg") no-repeat top -10px center; }
  body.active .wrapper {
    opacity: 0.4; }
  body.active .footer {
    opacity: 0.4; }
  body.active .get {
    opacity: 0.4; }

/*****************/
/*****************/
/*****************/
/*****************/
/*adrikan*/
/*html, body {
  height: 100%;  
}

.wrapper {
  display: flex;  
  flex-direction: column;
  min-height: 100vh;
}

.fullscreen {
  background-color: #666;
  display: flex;
  min-height: 100vh;
  padding: 20px 0;
}

.fullscreen--two {
  background-color: #c57b55f0;      
}

.fullscreen--bg {
  background: url("../img/01.png") center / cover no-repeat fixed;
}

.fullscreen__body {
  flex: 1 1 auto;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  text-align: center;  
  justify-content: center;    
  flex-direction: column;
  color: #FFF;
  padding: 20px;
}
.fullscreen__title {
  font-weight: 700;
  font-size: 35px;  
  margin-bottom: 25px;
}
.fullscreen__text {
  font-size: 25px;  
  margin-bottom: 17px;
}
.fullscreen__link {
  display: inline-flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  border: 1px solid #fff;
  color: #FFF;
  height: 60px;
  font-weight: 500;  
  align-self: center;
  }*/
/*end adrikan*/
.layout_content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.layout_left {
  width: 50%; }

.layout_right {
  width: 50%; }

.layout_card {
  height: 100vh;
  border-radius: 24px;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: #FFF;
  border: 5px solid #ccc; }

/*end webflow*/
